{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3F:E3:CE:31",
        "port": 51826,
        "pin": "037-45-154",
        "debug": true
    },

    "description": "Configuration file including Garage Door and Camera Platform",

	 "accessories":
        [
            {
            "accessory": "OpenGarage",
            "name": "Garage",
            "ip": "10.0.1.137",
            "key": "k$Q7/pYoJE2v",
            "openCloseDurationSecs": 25,
            "pollFrequencySecs": 60
            }
        ],
	
	"platforms": [{	
	  "platform": "Camera-ffmpeg",
	  "cameras": 
	  [
		{
		  "name": "Front Porch",
		  "videoConfig": {
			"source": "-re -i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.164:554/cam/realmonitor?channel=0&subtype=0",
			"stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.164/cgi-bin/snapshot.cgi?1",
			"maxWidth": 1920,
			"maxHeight": 1080,
			"maxFPS": 12,
			"vcodec": "libx264",            
			"audio": "false"
		  }
		},	
		{
		  "name": "Garage Door",
		  "videoConfig": {
			"source": "-re -i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.163:554/cam/realmonitor?channel=1&subtype=0",
			"stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.163/cgi-bin/snapshot.cgi?1",
			"maxWidth": 1920,
			"maxHeight": 1080,
			"maxFPS": 12,
			"vcodec": "libx264",
			"audio": "false"            
		  }
		  },
		  {
		  "name": "Backyard",
		  "videoConfig": {
			"source": "-re -i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.157:554/cam/realmonitor?channel=1&subtype=0",
			"stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.157/cgi-bin/snapshot.cgi?1",
			"maxWidth": 1920,
			"maxHeight": 1080,
			"maxFPS": 12,
			"vcodec": "libx264",
			"audio": "false"			            
		  }
		}			  
	  ]
	}
	]
	}
