{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3F:E3:CE:31",
        "port": 51826,
        "pin": "037-45-154"
    },
    "description": "Configuration file including Garage Door and Camera Platform",
    "accessories": [
        {
            "accessory": "OpenGarage",
            "name": "Garage",
            "ip": "10.0.1.137",
            "key": "k$Q7/pYoJE2v",
            "openCloseDurationSecs": 25,
            "pollFrequencySecs": 60
        }
    ],
    "platforms": [
        {
            "name": "Camera FFmpeg",
            "cameras": [
                {
                    "name": "Front Porch",
                    "unbridge": false,
                    "videoConfig": {
                        "source": "-i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.164:554/cam/realmonitor?channel=1&subtype=0",
                        "stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.164/cgi-bin/snapshot.cgi?1",
                        "maxWidth": 0,
                        "maxHeight": 0,
                        "maxFPS": 0,
                        "audio": false,
                        "debug": false
                    }
                },
                {
                    "name": "Garage Door",
                    "videoConfig": {
                        "source": "-i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.163:554/cam/realmonitor?channel=1&subtype=0",
                        "stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.163/cgi-bin/snapshot.cgi?1",
                        "maxWidth": 0,
                        "maxHeight": 0,
                        "maxFPS": 0,
                        "audio": false
                    }
                },
                {
                    "name": "Backyard",
                    "videoConfig": {
                        "source": "-i rtsp://stream:snJUJ8uvLnykKBZojN@10.0.1.157:554/cam/realmonitor?channel=1&subtype=0",
                        "stillImageSource": "-i http://stream:snJUJ8uvLnykKBZojN@10.0.1.157/cgi-bin/snapshot.cgi?1",
                        "maxWidth": 0,
                        "maxHeight": 0,
                        "maxFPS": 0,
                        "audio": false
                    }
                }
            ],
            "platform": "Camera-ffmpeg"
        },
        {
            "bridgeConnection": {
                "host": "10.0.1.117"
            },
            "accessories": [
                {
                    "name": "Office Audio Remote",
                    "type": "PJ2-3BRL",
                    "integrationID": 39
                },
                {
                    "name": "Jehan's Light Remote",
                    "type": "PJ2-3BRL",
                    "integrationID": 42
                },
                {
                    "name": "Jehan's Shade Remote",
                    "type": "PJ2-3BRL",
                    "integrationID": 48
                }
            ],
            "platform": "LutronCasetaPlatform"
        },
        {
            "name": "Config",
            "port": 8080,
            "platform": "config"
        }
    ]
}