global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'


#remote_write:
#  - url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
#    basic_auth:
#        username: 270792
#        password: {{ grafana_com_API_key }}


# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s

    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['10.0.1.201:9100']
        labels: 
            hostname: "cluster1"
            class: "raspberry pi"
            environment: "cluster"
      - targets: ['10.0.1.252:9100']
        labels:
            hostname: "cluster2"
            class: "raspberry pi"
            environment: "cluster"
      - targets: ['10.0.1.203:9100']
        labels: 
            hostname: "20-size"
            class: "nas server"
            environment: "storage"

  - job_name: 'cAdvisor'
    static_configs:
      - targets: ['10.0.1.201:8000']
        labels: 
            hostname: "cluster1"
            environment: "cluster"
      - targets: ['10.0.1.252:8000']
        labels:
            hostname: "cluster2"    
            environment: "cluster"
      - targets: ['10.0.1.203:8000']
        labels:
            hostname: "20-size"
            environment: "storage"
    
  - job_name: 'influxDB' 
    static_configs:
        - targets: ['influxdb.alvani.me']
        
  - job_name: 'Windows Exporter'
    static_configs:
      - targets: ['10.0.1.208:9182']
        labels:
          hostname: "gms"

  - job_name: 'OHMGraphite Exporter'
    static_configs:
      - targets: ['10.0.1.208:4445']
        labels:
          hostname: "gms"
